---
import '@/styles/global.css';
import '@fontsource-variable/quicksand';
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Albura | Quienes Somos" >
	
<section id="about" class="relative py-5 md:py-5 overflow-hidden bg-gradient-to-br from-white to-teal-50">
    <div class="container mx-auto px-6 relative z-10">
        <h2 class="text-4xl font-bold md:text-4xl text-center text-gray-900 mb-16 relative">
            Quienes Somos
            <span class="block w-28 h-2  bg-emerald-700 mx-auto mt-6 rounded-full shadow-lg"></span>
        </h2>

        <div class="flex flex-col md:flex-row items-center justify-center bg-white rounded-2xl shadow-xl p-8 mb-16 md:mb-8 transition-all duration-300 hover:shadow-2xl ">
            <div class="md:w-1/2 md:pr-12 mb-2 md:mb-0">
                <img src="/LandigPage/assets/LeidyLaura.jpg" alt="Equipo de Albura" class="rounded-xl shadow-lg w-full h-auto object-cover">
            </div>
            <div class="md:w-1/2">
                <h3 class="text-3xl text-gray-800 mb-4">La Esencia de Albura</h3>
                <p class="md:text-xl  text-justify text-gray-700 leading-relaxed mb-6">
                    En Albura, transformamos ideas en eventos memorables.
                </p>
                <p class="md:text-xl  text-justify text-gray-700 leading-relaxed mb-6">
                    Diseñamos y gestionamos eventos corporativos, ferias, convenciones, fiestas empresariales, celebraciones sociales y experiencias deportivas, cuidando cada detalle para garantizar resultados memorables y alineados con los objetivos de nuestros clientes.
                </p>
                <p class="md:text-xl  text-justify text-emerald-700 leading-relaxed mb-6">Soy Leidy Laura Arias, <span class="md:text-xl text-gray-700 leading-relaxed mb-6">relacionista pública de profesión y productora de eventos a tiempo completo. Mi trayectoria está enfocada en crear experiencias que conectan marcas, personas y propósitos, asegurando que cada proyecto refleje identidad, intención y excelencia.
                </p>
                <p class="md:text-xl  text-justify text-gray-700 leading-relaxed mb-6">
                    Desde la planificación estratégica hasta la ejecución operativa, en Albura nos encargamos de todo para que vivas tu evento sin preocupaciones. Cada experiencia está diseñada para inspirar, conectar y dejar huella.
                </p>
                <p class="text-lg md:text-xl  text-justify text-emerald-700 leading-relaxed mb-6">Planificamos con estrategia. Producimos con excelencia. Ejecutamos con pasión.</p>
            </div>
        </div>


   


</section>
</Layout>