<style>
    h1 { font-size: 2rem;}
</style>

<section class="contact-section    to-purple-100" id="contact" style="align-items: center; justify-content: center; min-height: 60vh; margin: 2rem 0; padding: 2rem; text-align: center;">
    <h1 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 1rem;">Información</h1>
   
      <p><span style="font-size: x-large; font-weight: bold;">Toca</span> el <span style="color: #296750; font-weight: bold; font-size: x-large;">QR</span>
      <p>para</p>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">

     <div class="flex flex-col sm:flex-row justify-center items-center gap-8">
    <div class="flex flex-col items-center">
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">Comunicarte </h3>
        <a href="https://api.whatsapp.com/send?phone=50688652578" target="_blank" class="block">
            <img src="/LandigPage/qr/whatsappQr.jpg" alt="QR de WhatsApp" class="w-48 h-48 rounded-2xl shadow-lg object-cover">
        </a>
    </div>
        <div class="flex flex-col items-center">
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">Inspirarte</h3>
            <a href="https://www.instagram.com/eventosalbura/" target="_blank" class="block">
                <img src="/LandigPage/qr/instagramQr.jpg" alt="QR de Instagram" class="w-48 h-48 rounded-2xl shadow-lg object-cover">
            </a>
        </div>
    </div>

        <div class="contact-info" style="margin-top: 1rem;  ">
            <p>Puedes enviarnos un correo electrónico a:</p>
            
                <a id="emailAddress" href="mailto:eventos@alburacr.com" style="color:  #306b6b; font-size: x-large;">eventos@alburacr.com</a>
            
            <p>puedes llamarnos al : </p>
            <a href="tel:8865-2578" style="color: #a38195; font-size: x-large;"> 8865-2578</a>
        </div>
    </div>
</section>
 