---
// Puedes agregar aquí tus importaciones de iconos si los tienes como componentes
// Ejemplo: import { FaTwitter, FaFacebook, FaInstagram } from 'react-icons/fa';
const year = new Date().getFullYear();
---

<footer style="padding: 1.5rem 0; background: #f8f9fa; text-align: center;">
    <div style="margin-bottom: 0.5rem;">
        <p>"Los eventos no son solo momentos, son experiencias que conectan, emocionan y dejan huella"</p> 
        <small>Albura &copy; .  {year} - Todos los derechos reservados</small>
    </div>
    <div style="display: flex; justify-content: center; gap: 1rem;">
        <a href="https://www.linkedin.com/in/leidy-arias/" target="_blank" rel="noopener" aria-label="Linkedin">
            <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path d="M19 0H5C2.239 0 0 2.239 0 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5V5c0-2.761-2.239-5-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM19 19h-3v-5.304c0-1.27-.993-2.062-2.204-2.062-1.21 0-2.304.814-2.304 2.553V19H9V8h2.909v1.782c.875-1.396 2.536-1.685 3.322-1.685C17.387 8.097 19 9.873 19 13.124V19z"/>
            </svg>
        </a>

        <a href="https://www.instagram.com/eventosalbura/" target="_blank" rel="noopener" aria-label="Instagram">
            <svg width="20" height="20" fill="currentColor" aria-hidden="true"><path d="M10 2.163c2.668 0 2.987.01 4.034.058c.997.046 1.538.21 1.897.35c.477.185.82.406 1.18.766c.36.36.581.703.766 1.18c.14.359.304.9.35 1.897c.048 1.047.058 1.366.058 4.034s-.01 2.987-.058 4.034c-.046.997-.21 1.538-.35 1.897a2.92 2.92 0 0 1-.766 1.18a2.92 2.92 0 0 1-1.18.766c-.359.14-.9.304-1.897.35c-1.047.048-1.366.058-4.034.058s-2.987-.01-4.034-.058c-.997-.046-1.538-.21-1.897-.35a2.92 2.92 0 0 1-1.18-.766a2.92 2.92 0 0 1-.766-1.18c-.14-.359-.304-.9-.35-1.897C2.173 12.987 2.163 12.668 2.163 10s.01-2.987.058-4.034c.046-.997.21-1.538.35-1.897a2.92 2.92 0 0 1 .766-1.18a2.92 2.92 0 0 1 1.18-.766c.359-.14.9-.304 1.897-.35C7.013 2.173 7.332 2.163 10 2.163zm0-2.163C7.259 0 6.912.012 5.865.06c-1.053.049-1.77.217-2.4.463a4.92 4.92 0 0 0-1.78 1.16A4.92 4.92 0 0 0 .523 3.465c-.246.63-.414 1.347-.463 2.4C.012 6.912 0 7.259 0 10s.012 3.088.06 4.135c.049 1.053.217 1.77.463 2.4a4.92 4.92 0 0 0 1.16 1.78a4.92 4.92 0 0 0 1.78 1.16c.63.246 1.347.414 2.4.463C6.912 19.988 7.259 20 10 20s3.088-.012 4.135-.06c1.053-.049 1.77-.217 2.4-.463a4.92 4.92 0 0 0 1.78-1.16a4.92 4.92 0 0 0 1.16-1.78c.246-.63.414-1.347.463-2.4c.048-1.047.06-1.394.06-4.135s-.012-3.088-.06-4.135c-.049-1.053-.217-1.77-.463-2.4a4.92 4.92 0 0 0-1.16-1.78a4.92 4.92 0 0 0-1.78-1.16c-.63-.246-1.347-.414-2.4-.463C13.088.012 12.741 0 10 0zm0 4.838a5.162 5.162 0 1 0 0 10.324a5.162 5.162 0 0 0 0-10.324zm0 8.523a3.361 3.361 0 1 1 0-6.723a3.361 3.361 0 0 1 0 6.723zm6.406-8.845a1.2 1.2 0 1 0 0 2.4a1.2 1.2 0 0 0 0-2.4z"/></svg>
        </a>
    </div>
</footer></a>