---

---
<div id="home" class="hero-container">
    <section style="position: relative; display: flex; align-items: center; justify-content: center; min-height: 60vh;">
        <img 
            src="/src/assets/Albura_Hero2.png" 
            alt="Hero principal" 
            style="width: 100%; height: 60vh; object-fit: cover; border-radius: 0.5rem; filter: brightness(0.7);" 
        />
        <div  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 2rem;">
            <h1 style="font-size: 3rem; font-weight: bold; margin-bottom: 1rem; text-align: center; color: #fff; text-shadow: 0 2px 8px rgba(0,0,0,0.5);">
                Producción de Eventos
            </h1>
            <h2 style="font-size: 1.3rem; font-weight: normal;color: #fff; text-align: center;">
                Cada evento, es una experiencia hecha a la medida.
            </h2>
        </div>
    </section>
</div>